<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Details page </h1>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Apalya</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
                <li><a href="/myapp/profiles/">Profiles</a></li>
        <li class="active"><a href="/myapp/logout/">Log out</a></li>

          </ul>
    </div>
  </div>
</nav>
<h3>Person Details</h3>
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
</style>
<table style="width:100%">

    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile Number</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Zip Code</th>

    </tr>
    {% for p in p%}

    <tr>
        <td>{{p.id}}</td>
        <td>{{p.firstname}}</td>
        <td>{{p.lastname}} </td>
        <td>{{p.mobile_num}}</td>
        <td>{{p.address}}</td>
        <td>{{p.city}}</td>
        <td>{{p.state}} </td>
        <td>{{p.country}}</td>
        <td>{{p.zipcode}}</td>

    </tr>
    {% endfor %}

</table>
</body>
</html>

